body{
    background-color: #1C1C2D;
}
h1 {
    text-align:center;
    font-size: 50px;
    color: #ff8080;
}
form {
    margin: 20px auto;
    width: 320px;
    color: #ff8080;
}
input{
    padding: 10px;
    font-size: inherit;
}
input[type="text"] {
    display: block;
    margin-bottom: 25px;
    width: 100%;
    border: 2px steel blue;

}
input[type="email"] {
    display: block;
    margin-bottom: 25px;
    width: 100%;
    border: 2px steel blue;

}
input[type="password"] {
    display: block;
    margin-bottom: 25px;
    width: 100%;
    border: 2px steel blue;

}
input[type="radio"] {
    margin: 0 8px 25px 18px;

}
input[type="radio"]:first-child {
    margin-left: 0;
}

input[type="tel"] {
    display: block;
    margin-bottom: 25px;
    width: 100%;
    border: 2px steel blue;

}

input[type="submit"]{
    width: 345px;
    height: 45px;
    border: none;
    background: #ff8080;
    color: #1C1C2D;
}
input: focus{
    background: #ff8080;
}
input[type="radio"]:checked + label {
    font-weight: bold;
    font-size: 20px;
}

